# Exclude environment files (sensitive information)
.env

# JetBrains IDE settings folders (e.g., PyCharm)
.idea/*

# Python bytecode and cache
__pycache__/
*.py[cod]

# Virtual environment directories
env/
venv/
.venv/

# Logs and temporary files
*.log
*.tmp
*.temp

# Operating system files
.DS_Store       # macOS files
Thumbs.db       # Windows thumbnails
desktop.ini     # Windows desktop settings

# Git-specific files
*.lock
*.swp
*.bak
*.orig

# Coverage reports
.coverage
*.cover

#AttendanceLocalFiles

attendance.json
attendance_f1.json
attendance_f2.json
race_attendance.json
attendance_F1_message.json
attendance_F2_message.json
protests.json
penalty_log.txt
penalty_log.csv
Formula V SuperLicense (S13).xlsx
