# Exclude environment files (sensitive information)
.env

# JetBrains IDE settings folders (e.g., PyCharm)
.idea/*

# Python bytecode and cache
__pycache__/
*.py[cod]

# Virtual environment directories
env/
venv/
.venv/

# Logs and temporary files
*.log
*.tmp
*.temp

# Operating system files
.DS_Store       # macOS files
Thumbs.db       # Windows thumbnails
desktop.ini     # Windows desktop settings

# Git-specific files
*.lock
*.swp
*.bak
*.orig

# Coverage reports
.coverage
*.cover

#AttendanceLocalFiles

attendance.json
attendance_f1.json
attendance_f2.json
race_attendance.json
attendance_F1_message.json
attendance_F2_message.json
protests.json
penalty_log.txt
penalty_log.csv
Formula V SuperLicense (S13).xlsx
attendance_f3.json
attendance_F3_message.json
trainee_suggestions.csv
Formula V SuperLicense.xlsx
poll_results/
attendance_FVEC_HyperCar_message.json
attendance_fvec_hypercar.json
attendance_FVEC_LMGT3_message.json
attendance_fvec_lmgt3.json
.gitignore
attendance_FVEC_message.json
attendance_fvec.json
.gitignore
attendance_HYPERCAR_message.json
attendance_hypercar.json
attendance_LMGT3_message.json
attendance_lmgt3.json
